<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{#each meters}}
    {{!-- <form action="/streetMeter/:{{id}}" method="GET"> --}}

        <tr>
            {{!-- <td>
                {{name}}
            </td> --}}
            <td>
                {{id}}
            </td>
            <td>
                {{name}}
            </td>
            <td>
                <a href="/streetMeters/{{id}}">Meters in street</a>
            </td>
        </tr>
        {{/each}}/
    </form>
</body>

</html>